body {
    margin: 0;
    min-height: 100vh;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    border-radius: 50%;
    margin: 0 1rem;
}

.nav-name {
    font-size: 20px;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
}

.nav-right {
    margin-left: auto;
}

.nav-items-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.nav-items {
    margin: 1rem;
    list-style-type: none;

}

.nav-items-link {
    text-decoration: none;
}

.nav-items-link:hover {
    color: cadetblue;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.hero-container {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.hero-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.hero-left,
.hero-right {
    width: 100%;
}

.title {
    font: 3rem;
    text-align: center;
    font-weight: 400;
}

.hero-container .title {
    text-align: left;
    padding-left: 1rem;
}

.description {
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}

/* resume section.... */
.resume-container {
    margin-top: 1rem;
    padding: 6.5rem 1rem 0 1rem;
    min-height: 100vh;
}
.resume-sub-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.sub-title {
    font-size: 1.25rem;
    line-height: 1.6rem;
    margin-bottom: 0;
}

.line {
    background-color: gray;
    width: 100px;
    height: 2px;
    margin: 0.25rem 0 2rem 0;
}

.inner-line {
    width: 30px;
    height: 2px;
    background-color: rgb(39, 24, 247);
}



@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .hero-left {
        width: 40%;
    }

    .hero-right {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}